{# templates/emails/email-confirmation.html.twig #}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Papan Pintar Email</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<style type="text/css">
		a[x-apple-data-detectors] {color: inherit !important;}
	</style>

</head>
<body style="background: #E5E5E5; margin: 0; padding: 0;">
	<table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%" >
		<tr>
			<td style="padding: 20px 0 30px 0;">
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="background-color: #fff; border-collapse: collapse;  font-family: Arial, sans-serif">
          <tr>
            <td align="center"  style="background-color: #fff; padding: 0 0 30px 0;">
              <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td align="center" width="100%"><img src="{{ url }}/images/mailheader.png" alt="Logo Sahabat Pintar" width="600" height="200" style="display: block;" /></td>
                </tr>
                </table>
            </td>
          </tr>
          <tr>
            <td align="center"  style="background-color: #fff; padding: 40px 0 30px 0;">
              <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td width="100%" align="center" style="color: #F2767E; font-family: Arial, sans-serif; font-weight:700;">
                    <h1 style="font-size: 24px; margin: 0;">Halo, {{ name }}!</h1>
                  </td>
                </tr>
                </table>
            </td>
          </tr>
          {% block body_content %}
          {% endblock body_content %}
        </table>
			</td>
		</tr>
	</table>
</body>
</html>
