<h1>Hey {{ email.toName }} it seems that you won !! </h1>

<p>
   Congratulations {{ user.username }} you won the contest {{ project.theme }}
</p>

<p>
    <a href="#">Click here to set up your bank account, you will receive {{ project.award }} </a>
</p>

