<h1>Hey {{ email.toName }} </h1>

<p>
     {{ user.username }} your team {{ team.name}} with the team founder {{ team.founder.username}}
    need to  submit proposal for the contest {{ project.title }} with deadline
    {{ project.endTime |date("m/d/Y") }}

    for subject / subjects
    {% for subject in project.tags %}
        <li>{{subject.name}}</li>
    {% endfor %}

    with prizes
    {% for award in project.awards %}
        <li>  {{award.rank}} - {{award.name}}</li>
    {% endfor %}

    google app - {{ google_app_dowload_link }}

</p>
