{# templates/emails/invitations-reminder.html.twig #}
{% extends "emails/base-template.html.twig" %}
{% set name =  email.toName  %}
{% block body_content %}
<tr>
    <td bgcolor="#ffffff" style="padding-left: 50px; padding-right: 50px;">
    {% if new_invitations is not empty %}
        <p>
            <strong>You have received a new invitation!</strong>
        </p>
        <p>
            Wow! A team has sent you an invitation to join their team!
            Unleash your potential and create a whole new experience of
            learning at Sahabat Pintar. Join a team now to unlock more
            opportunities and win a competition.
        </p>
        <p>
            Below is the list of new invitations that been sent to you:
        </p>
        <p>
            <ol>
                {# @var invitation App\Entity\OrganizationUnconfirmedMembers #}
                {% for invitation in new_invitations %}
                    <li style="line-height: 1.6;">
                        <span style="color: #F2767E;">
                            <strong>
                                <a href="{{ frontend_url }}/my-projects" style="color: #F2767E;" target="_blank">{{ invitation.organization.project.title|e }}</a>
                            </strong>
                            ({{ invitation.organization.project.educationalLevel.level|e }})
                        </span>
                        <br />

                        Subject:
                        {% for subject in invitation.organization.project.tags %}
                            <strong>{{ subject.name }}</strong>
                            {{- not loop.last ? ',' -}}
                        {% endfor %}

                        <br />

                        Current members:
                        {% for member in invitation.organization.members %}
                            <strong>{{ member.username }}</strong>
                            {{- not loop.last ? ',' -}}
                        {% endfor %}
                        <br />
                        Deadline: <strong>{{ invitation.organization.project.endTime|date("M jS, `y") }}</strong><br />
                    </li>
                {% endfor %}
            </ol>
        </p>
        <p style="width: 100%; border-bottom: 1px solid black;" />
        <br />
    {% endif %}
    <br />

    {% if old_invitations is not empty %}
        <p>
            <strong>There are some older invitations for you. These teams are waiting for your response!</strong>
        </p>
        <p>
            What are you waiting for? Join a team now to unlock more opportunities and win a competition.
        </p>
        <p>
            Below is the list of old invitations that been sent to you:
        </p>
        <p>
            <ol>
                {# @var invitation App\Entity\OrganizationUnconfirmedMembers #}
                {% for invitation in old_invitations %}
                    <li style="line-height: 1.6;">
                        <span style="color: #F2767E;">
                            <strong>
                                <a href="{{ frontend_url }}/my-projects" style="color: #F2767E;" target="_blank">{{ invitation.organization.project.title|e }}</a>
                            </strong>
                            ({{ invitation.organization.project.educationalLevel.level|e }})
                        </span>
                        <br />

                        Subject:
                        {% for subject in invitation.organization.project.tags %}
                            <strong>{{ subject.name }}</strong>
                            {{- not loop.last ? ',' -}}
                        {% endfor %}
                        <br />

                        Current members:
                        {% for member in invitation.organization.members %}
                            <strong>{{ member.username }}</strong>
                            {{- not loop.last ? ',' -}}
                        {% endfor %}
                        <br />
                        Deadline: <strong>{{ invitation.organization.project.endTime|date("M jS, `y") }}</strong><br />
                    </li>
                {% endfor %}
            </ol>
        </p>
        <p style="width: 100%; border-bottom: 1px solid black;" />
        <br />
    {% endif %}
    <br />

    {% if organizations_that_received_join_requests is not empty %}
        <p>
            <strong>Someone wants to join your team!</strong>
        </p>
        <p>
            Wow! A user has sent a request to join your team!
            Collaborate to create a whole new experience of learning at
            Sahabat Pintar and win a competition.
        </p>
        <p>
            Below is the list of requests that been sent to you:
        </p>
        <p>
            <ol>
                {# @var organization App\Entity\Organization #}
                {% for organization in organizations_that_received_join_requests %}
                    <li style="line-height: 1.6;">
                        <span style="color: #F2767E;">
                            <strong>
                                <a href="{{ frontend_url }}/my-projects" style="color: #F2767E;" target="_blank">{{ organization.project.title|e }}</a>
                            </strong>
                            ({{ organization.project.educationalLevel.level|e }})
                        </span>
                        <br />

                        Subject:
                        {% for subject in organization.project.tags %}
                            <strong>{{ subject.name }}</strong>
                            {{- not loop.last ? ',' -}}
                        {% endfor %}
                        <br />

                        Current members:
                        {% for member in organization.members %}
                            <strong>{{ member.username }}</strong>
                            {{- not loop.last ? ',' -}}
                        {% endfor %}
                        <br />

                        Deadline: <strong>{{ organization.project.endTime|date("M jS, `y") }}</strong><br />

                        Requests to join: <br />
                        <ol>
                            {% for unconfirmedmember in organization.organizationUnconfirmedMembers %}
                                {% if unconfirmedmember.status ==  constant('App\\Entity\\OrganizationUnconfirmedMembers::STATUS_WANTED_TO_JOIN')  %}
                                    <li>
                                        {{ unconfirmedmember.newInvitation? "<strong>NEW!</strong>": "" }} {{ unconfirmedmember.member.username }}
{#                                        ({{ unconfirmedmember.member.email }}) #}
                                        is a
                                        {% for role in unconfirmedmember.member.roles %}
                                            {% if role == "ROLE_TEACHER"%}
                                                <strong>Teacher</strong>
                                            {% elseif role == "ROLE_DESIGNER"%}
                                                <strong>Designer</strong>
                                            {% endif %}
                                        {% endfor %} specialized in
                                        {% for tag in unconfirmedmember.member.tags %}
                                            <strong>{{ tag.name }}</strong>
                                            {{- not loop.last ? ',' -}}
                                        {% endfor %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ol>
                        <br />
                    </li>
                {% endfor %}
            </ol>
        </p>
    {% endif %}

    </td>
</tr>
<tr>
    <td style="padding-left: 50px; padding-right: 50px;">
        Click the link below to go to Sahabat Pintar website
        <div style="padding: 20px 0"><!--[if mso]>
                        <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{{ frontend_url }}" style="height:60px;v-text-anchor:middle;width:500px;" arcsize="84%" stroke="f" fillcolor="#F2767E">
                            <w:anchorlock/>
                            <center>
                        <![endif]-->
            <a target="_blank" href="{{ frontend_url }}"
               style="background-color:#F2767E;border-radius:50px;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:22px;font-weight:700;cursor: pointer;font-weight:bold;line-height:60px;text-align:center;text-decoration:none;width:500px;-webkit-text-size-adjust:none;">Visit Website</a>
            <!--[if mso]>
            </center>
            </v:roundrect>
            <![endif]-->
        </div>
        <p style="width: 100%; border-bottom: 1px solid black;" />
    </td>
</tr>
    <tr>
        <td style="padding-left: 50px; padding-right: 50px; padding-bottom: 50px">
            Whether for further inquiries regarding your account or small talk about the weather, you can always Contact Us at any time. We would always love to hear from you!<br />
            <br />
            Warm regards,<br />
            <br />
            Alby<br />
            Sahabat Pintar
        </td>
    </tr>

{% endblock body_content %}
