{# templates/emails/invitations-reminder.html.twig #}
{% extends "emails/base-template.html.twig" %}
{% set name =  email.toName  %}
{% block body_content %}
<tr>
    <td bgcolor="#ffffff" style="padding-left: 50px; padding-right: 50px;">
    {% if new_invitations is not empty %}
        <p>
            <strong>Anda telah menerima undangan baru!</strong>
        </p>
        <p>
            Wow! Pengguna lain telah mengundang Anda untuk bergabung
            dengan tim! Wujudkan imajinasi Anda dan ciptakan pengalaman
            belajar yang berbeda dari yang lain bersama Sahabat Pintar.
            Bergabunglah dengan tim sekarang dan dapatkan kesempatan
            untuk memenangkan kompetisinya.
        </p>
        <p>
            Di bawah ini adalah daftar undangan baru yang telah dikirimkan kepada Anda:
        </p>
        <p>
            <ol>
                {# @var invitation App\Entity\OrganizationUnconfirmedMembers #}
                {% for invitation in new_invitations %}
                    <li style="line-height: 1.6;">
                        <span style="color: #F2767E;">
                            <strong>
                                <a href="{{ frontend_url }}/my-projects" style="color: #F2767E;" target="_blank">{{ invitation.organization.project.title|e }}</a>
                            </strong>
                            ({{ invitation.organization.project.educationalLevel.level|e }})
                        </span>
                        <br />

                        Mata Pelajaran:
                        {% for subject in invitation.organization.project.tags %}
                            <strong>{{ subject.name }}</strong>
                            {{- not loop.last ? ',' -}}
                        {% endfor %}

                        <br />

                        Anggota:
                        {% for member in invitation.organization.members %}
                            <strong>{{ member.username }}</strong>
                            {{- not loop.last ? ',' -}}
                        {% endfor %}
                        <br />
                        Batas Waktu: <strong>{{ invitation.organization.project.endTime|date("d-m-Y") }}</strong><br />
                    </li>
                {% endfor %}
            </ol>
        </p>
        <p style="width: 100%; border-bottom: 1px solid black;" />
        <br />
    {% endif %}
    <br />

    {% if old_invitations is not empty %}
        <p>
            <strong>Anda masih memiliki undangan yang belum dijawab.</strong>
        </p>
        <p>
            Tunggu apa lagi? Bergabunglah sekarang agar berkesempatan memenangkan kompetisinya.
        </p>
        <p>
            Di bawah ini adalah daftar undangan tertunda yang telah dikirimkan kepada Anda:
        </p>
        <p>
            <ol>
                {# @var invitation App\Entity\OrganizationUnconfirmedMembers #}
                {% for invitation in old_invitations %}
                    <li style="line-height: 1.6;">
                        <span style="color: #F2767E;">
                            <strong>
                                <a href="{{ frontend_url }}/my-projects" style="color: #F2767E;" target="_blank">{{ invitation.organization.project.title|e }}</a>
                            </strong>
                            ({{ invitation.organization.project.educationalLevel.level|e }})
                        </span>
                        <br />

                        Mata Pelajaran:
                        {% for subject in invitation.organization.project.tags %}
                            <strong>{{ subject.name }}</strong>
                            {{- not loop.last ? ',' -}}
                        {% endfor %}
                        <br />

                        Anggota:
                        {% for member in invitation.organization.members %}
                            <strong>{{ member.username }}</strong>
                            {{- not loop.last ? ',' -}}
                        {% endfor %}
                        <br />
                        Batas Waktu: <strong>{{ invitation.organization.project.endTime|date("d-m-Y") }}</strong><br />
                    </li>
                {% endfor %}
            </ol>
        </p>
        <p style="width: 100%; border-bottom: 1px solid black;" />
        <br />
    {% endif %}
    <br />

    {% if organizations_that_received_join_requests is not empty %}
        <p>
            <strong>Anda mendapat pengajuan baru untuk bergabung ke tim!</strong>
        </p>
        <p>
            Wow! Pengguna lain tertarik untuk bergabung dengan tim Anda! Ayo berkolaborasi untuk ciptakan pengalaman belajar yang berbeda dari yang lain bersama Sahabat Pintar dan menangkan kompetisinya.
        </p>
        <p>
            Di bawah ini adalah daftar permintaan baru yang telah dikirimkan kepada Anda:
        </p>
        <p>
            <ol>
                {# @var organization App\Entity\Organization #}
                {% for organization in organizations_that_received_join_requests %}
                    <li style="line-height: 1.6;">
                        <span style="color: #F2767E;">
                            <strong>
                                <a href="{{ frontend_url }}/my-projects" style="color: #F2767E;" target="_blank">{{ organization.project.title|e }}</a>
                            </strong>
                            ({{ organization.project.educationalLevel.level|e }})
                        </span>
                        <br />

                        Mata Pelajaran:
                        {% for subject in organization.project.tags %}
                            <strong>{{ subject.name }}</strong>
                            {{- not loop.last ? ',' -}}
                        {% endfor %}
                        <br />

                        Anggota:
                        {% for member in organization.members %}
                            <strong>{{ member.username }}</strong>
                            {{- not loop.last ? ',' -}}
                        {% endfor %}
                        <br />

                        Batas Waktu: <strong>{{ organization.project.endTime|date("d-m-Y") }}</strong><br />

                        Di bawah ini adalah daftar pengguna yang mengirimkan permintaan baru kepada Anda: <br />
                        <ol>
                            {% for unconfirmedmember in organization.organizationUnconfirmedMembers %}
                                {% if unconfirmedmember.status ==  constant('App\\Entity\\OrganizationUnconfirmedMembers::STATUS_WANTED_TO_JOIN')  %}
                                    <li>
                                        {{ unconfirmedmember.emailSentCounter ? "": "<strong>NEW!</strong>" }} {{ unconfirmedmember.member.username }}
{#                                        ({{ unconfirmedmember.member.email }}) #}
                                        adalah seorang
                                        {% for role in unconfirmedmember.member.roles %}
                                            {% if role == "ROLE_TEACHER"%}
                                                <strong>Guru</strong>
                                            {% elseif role == "ROLE_DESIGNER"%}
                                                <strong>Desainer</strong>
                                            {% endif %}
                                        {% endfor %} yang mengkhusukan diri dalam bidang
                                        {% for tag in unconfirmedmember.member.tags %}
                                            <strong>{{ tag.name }}</strong>
                                            {{- not loop.last ? ',' -}}
                                        {% endfor %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ol>
                        <br />
                    </li>
                {% endfor %}
            </ol>
        </p>
    {% endif %}

    </td>
</tr>
<tr>
    <td style="padding-left: 50px; padding-right: 50px;">
        Klik link di bawah ini untuk membuka situs Sahabat Pintar.<br /><br />
        <div style=""><!--[if mso]>
                        <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{{ frontend_url }}" style="height:60px;v-text-anchor:middle;width:500px;" arcsize="84%" stroke="f" fillcolor="#F2767E">
                            <w:anchorlock/>
                            <center>
                        <![endif]-->
            <a target="_blank" href="{{ frontend_url }}"
               style="background-color:#F2767E;border-radius:50px;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:22px;font-weight:700;cursor: pointer;font-weight:bold;line-height:60px;text-align:center;text-decoration:none;width:500px;-webkit-text-size-adjust:none;">Kunjungi Website</a>
            <!--[if mso]>
            </center>
            </v:roundrect>
            <![endif]-->
        </div>
        <p style="width: 100%; border-bottom: 1px solid black;" />
        <br /><br />
    </td>
</tr>
    <tr>
        <td style="padding-left: 50px; padding-right: 50px; padding-bottom: 50px">
            Baik untuk pertanyaan lebih lanjut tentang akun Anda, atau obrolan ringan mengenai cuaca, Anda selalu bisa Hubungi Kami kapan saja. Kami akan selalu senang mendengar dari Anda!<br />
            <br />
            Salam hangat,<br />
            <br />
            Alby<br />
            Sahabat Pintar
        </td>
    </tr>

{% endblock body_content %}
