{# templates/emails/proposal-is-submitted.html.twig #}
{% extends "emails/base-template.html.twig" %}
{% set name =  email.toName  %}
{% block body_content %}
<tr>
    <td bgcolor="#ffffff" style="padding-left: 50px; padding-right: 50px;">
        <p style="line-height: 1.4;">
            Congratulations {{ user.username }}, your team <strong>{{ team.name}}</strong> with the team founder 
            <strong>{{ team.founder.username}}</strong> submitted proposal for the contest : <br />

            Lesson : <strong>{{ project.title }}</strong><br />
            Deadline : {{ project.endTime |date("m/d/Y") }}<br />

            Subject : 
            {% for subject in project.tags %}
                <strong>{{subject.name}}</strong>
            {% endfor %}

            <br />

            Prizes :
            {% for award in project.awards %}
                <li>Rank #{{award.rank}} - {{award.name}}</li>
            {% endfor %}

            <br />

            google app - {{ google_app_dowload_link }}

        </p>

    </td>
</tr>

{% endblock body_content %}
