{# templates/emails/send-mobile-application-link.html.twig #}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Unduh Titik Pintar</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<style type="text/css">
		a[x-apple-data-detectors] {color: inherit !important;}
	</style>

</head>
<body style="margin: 0; padding: 0;">
	<table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%" >
		<tr>
			<td style="padding: 20px 0 30px 0;">
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;  font-family: Arial, sans-serif">
          <tr>
            <td align="center"  style="padding: 40px 0 30px 0;">
              <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td width="100%" align="center"><img src="{{ url }}/images/logo.png" alt="Logo Sahabat Pintar" width="150" height="150" style="display: block;" /></td>
                </tr>
                </table>
            </td>
          </tr>
          <tr>
            <td align="center"  style="padding: 40px 0 30px 0;">
              <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td width="100%" align="center" style="color: #F2767E; font-family: Arial, sans-serif; font-weight:700;">
                    <h1 style="font-size: 24px; margin: 0;">Halo!</h1>
                  </td>
                </tr>
                </table>
            </td>
          </tr>
          <tr>
            <td bgcolor="#ffffff" style="padding: 0px 30px 0px 30px;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
                <tr>
                <td style="color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; padding: 20px 0 30px 0;">
                    <p style="margin: 0;font-size:15px;">Terima kasih atas ketertarikan kalian akan Titik Pintar. Klik tombol “Unduh Sekarang” di bawah untuk mengunduh dan siapkan diri kalian untuk pengalaman belajar yang jauh berbeda dari yang lain.</p>
                </td>
                </tr>
                <tr>
                <td>
                    <div><!--[if mso]>
                        <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{{ google_app_dowload_link }}" style="height:60px;v-text-anchor:middle;width:500px;" arcsize="84%" stroke="f" fillcolor="#F2767E">
                            <w:anchorlock/>
                            <center>
                        <![endif]-->
                        <a target="_blank" href="{{ google_app_dowload_link }}"
                           style="background-color:#F2767E;border-radius:50px;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:22px;font-weight:700;cursor: pointer;font-weight:bold;line-height:60px;text-align:center;text-decoration:none;width:500px;-webkit-text-size-adjust:none;">Unduh Sekarang</a>
                        <!--[if mso]>
                        </center>
                        </v:roundrect>
                        <![endif]-->
                    </div>
                </td>
                </tr>
                <tr>
                <td style="color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; padding: 20px 0 30px 0;">
                    <p style="margin: 0;font-size:15px;">Baik untuk pertanyaan lebih lanjut tentang akun anda atau obrolan ringan tentang cuaca, anda selalu bisa Hubungi Kami kapan saja. Kami akan selalu senang mendengar dari Anda!</p>
                </td>
                </tr>
                <tr>
                <td style="color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; padding: 20px 0 30px 0;">
                    <p style="margin: 0;font-size:15px;">Salam hangat,</p>
                    <p style="margin: 0;font-size:15px;padding-top:15px;">Alby <br/>Titik Pintar</p>
                </td>
                </tr>
                <tr style="margin-top:20px"></tr>
            </table>
            </td>
        </tr>
        <tr>
            <td  style="padding: 50px 30px; ">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
                <tr>
                <td style="color: #000000; font-family: Arial, sans-serif; font-size: 14px;">
                    <p style="margin: 0;">Jika anda mengalami masalah dengan tombol ‘Unduh Sekarang’ kami, salin dan tempel URL di bawah ini ke browser web anda<br/>
                    <a href="{{ google_app_dowload_link }}" style="color: #F2767E;">{{ google_app_dowload_link }}</a></p>
                </td>
                <td align="right">

                </td>
                </tr>
            </table>
            </td>
        </tr>
        </table>
			</td>
		</tr>
	</table>
</body>
</html>
