<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        hey this is default page from backend we will provide another address soon!
        Stay tuned!
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
